@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BukhariScript';
    src: url('../fonts/BukhariScript-Regular.ttf') format('truetype');
}